.order-delete-button {
	visibility: hidden;
}

.order-table > tbody > tr > td,
.order-table > tbody > tr > th,
.order-table > tfoot > tr > td,
.order-table > tfoot > tr > th,
.order-table > thead > tr > td,
.order-table > thead > tr > th {
	padding: 3px;
	vertical-align: middle;
	border-top: 1px solid #000;
}

.order-table select,
.order-table input,
.order-table textarea {
	padding: 3px;
}

/* цвета в таблице*/
/* не выбрано*/
.order-table .order_status_0 {
	background-color: #e4fffc;
}

/* сборка */
.order-table .order_status_1 {
	background-color: #ff4570;
}

/* проблема*/
.order-table .order_status_2 {
	background-color: #fe9e7a;
}

/* в плане */
.order-table .order_status_3 {
	background-color: #5cd256;
}

/* готово */
.order-table .order_status_4 {
	background-color: #acaeab;
}

/* -------------------- закупки ----------------------*/
/* торговые площадки */
.z-place {
	background-image: url("../img/banner_icons_sprite.png");
	background-repeat: no-repeat;
}

#zOrdersTable {
	border-collapse: collapse;
}

#zOrdersTable td {
	border: 1px solid #000;
}

.table-borders table {
	border-collapse: collapse;
}

.table-borders table td {
	border: 1px solid #0f0f0f;
}

.table-borders .displayNone {
	display: none;
}

.note_stock_textarea {
	width: 160px;
}

.weight_input, .place_input {
	width: 35px;
	display: inline-block;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.plan_ord_input{
	width: 30px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
}

.bg-green a,
.bg-red a,
.bg-orange a
{
	color: #ffffff;
}
.pt7{
	padding-top: 7px;
}

#invoice_box{}
#invoice_box .input-group{
	margin-bottom: 10px;
}
